<div class="container">
  <div class="row" style="width: 100%">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center" style="padding: 20px">
        <h3>Registro</h3>
        <br />
        <form [formGroup]="register" (ngSubmit)="userReg()">
          <!-- Name input -->
          <div class="form-group mb-4" style="text-align: start">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre"
              formControlName="name"
            />
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('name')?.hasError('required') &&
                register.get('name')?.touched
              "
            >
              El nombre es <strong>requerido</strong>
            </span>
          </div>
          <!-- Lastname input -->
          <div class="form-group mb-4" style="text-align: start">
            <input
              type="text"
              class="form-control"
              placeholder="Apellidos"
              formControlName="lastNames"
            />
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('lastNames')?.hasError('required') &&
                register.get('lastNames')?.touched
              "
            >
              Los apellidos son <strong>requeridos</strong>
            </span>
          </div>
          <!-- Gender input -->
          <div class="form-group mb-4" style="text-align: start">
            <select class="form-select" formControlName="gender">
              <option selected disabled value="">Genero...</option>
              <option value="femenino">Femenino</option>
              <option value="masculino">Masculino</option>
              <option value="pnd">Prefiero no decirlo</option>
            </select>
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('gender')?.hasError('required') &&
                register.get('gender')?.touched
              "
            >
              El genero es <strong>requerido</strong>
            </span>
          </div>
          <!-- Email input -->
          <div class="form-group mb-4" style="text-align: start">
            <input
              type="text"
              class="form-control"
              placeholder="Correo Electronico"
              formControlName="email"
            />
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('email')?.hasError('required') &&
                register.get('email')?.touched
              "
            >
              El correo es <strong>requerido</strong>
            </span>
          </div>
          <!-- Password input -->
          <div class="form-group mb-4" style="text-align: start">
            <input
              type="password"
              class="form-control"
              placeholder="Contraseña"
              formControlName="password"
            />
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('password')?.hasError('required') &&
                register.get('password')?.touched
              "
            >
              La contraseña es <strong>requerida</strong>
            </span>
            <span
              class="text-danger ml-2"
              *ngIf="
                register.get('password')?.hasError('minlength') &&
                register.get('password')?.touched
              "
            >
              ¡La contraseña debe tener como <strong>minimo 8 caracteres</strong> !
            </span>
          </div>
          <!-- Buttons -->
          <div class="form-group">
            <button class="btn btn-primary btn-reg" type="submit">
              Aceptar
            </button>
            <button class="btn btn-primary" routerLink="/inicio/login">
              Volver
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
